body {
text-align: center;
background: url("https://wallpapertag.com/wallpaper/full/a/7/c/310917-amazing-black-and-red-background-1920x1080.jpg");
color: white;
font-family: 'Yatra One';
max-width: 1200px;
}
